/*:::::Pie de Pagina*/
.pie-pagina {
  grid-area: footer;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.pie-pagina .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .group-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .group-1 .box figure img {
  width: 250px;
}
.pie-pagina .group-1 .box p {
  color: rgb(253, 253, 253);
  margin-bottom: 10px;
}
.pie-pagina .group-1 .social-media a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: rgb(37, 37, 37);
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .group-1 .social-media a:hover {
  color: rgb(215, 154, 0);
}
.pie-pagina .group-2 {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .group-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .group-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
header {
  position: fixed;
  z-index: 1000000000;
  width: 100%;
  grid-area: header;
}
header .navbar {
  background-color: rgb(22, 22, 22);
}
header .navbar .nav-link.active {
  color: rgb(94, 151, 194);
}
header .navbar img {
  width: 300px;
}
header .navbar .dropdown-menu a {
  color: black;
}
header .navbar a {
  color: white;
}
header .navbar .collapse {
  flex-grow: 0;
}
header .navbar .collapse .btn-outline-success a {
  color: white;
  font-size: 25px;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
}
header img {
  width: 100px;
}
header ul li {
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}
header ul li .nav-link:hover {
  transition: 0.5s;
  color: rgb(94, 151, 194);
}

main {
  grid-area: main;
  width: 100%;
}

.mainText p {
  margin-top: -50px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

#knowUsSection {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to top, rgb(187, 157, 135), rgb(125, 95, 73), rgb(91, 57, 33));
  height: 755px;
  color: whitesmoke;
}
#knowUsSection .container-fluid img {
  position: relative;
  max-width: 1250px;
}
@media (max-width: 2000px) {
  #knowUsSection .container-fluid img {
    margin-left: 620px;
  }
}
@media (max-width: 1400px) {
  #knowUsSection .container-fluid img {
    margin-left: 490px;
  }
}
@media (max-width: 777px) {
  #knowUsSection .container-fluid img {
    margin-left: 80px;
    max-width: 725px;
  }
}
#knowUsSection .firstText p {
  position: absolute;
  z-index: 1000;
  padding: 30px;
  margin-top: 0;
  font-weight: 500;
  font-size: 6vh;
}
@media (max-width: 777px) {
  #knowUsSection .firstText p {
    font-weight: bold;
    font-size: 4vh;
    margin-top: -35px;
    left: 0;
  }
}
#knowUsSection .secondText p {
  text-transform: uppercase;
  vertical-align: middle;
  margin-left: 100px;
  font-weight: lighter;
  font-size: 45px;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  margin-top: 310px;
}
@media (max-width: 777px) {
  #knowUsSection .secondText p {
    font-weight: 500;
    margin-top: 400px;
    font-size: 25px;
    margin-left: 0px;
  }
  #knowUsSection .secondText p br {
    display: none;
  }
}
#knowUsSection .thirdText {
  margin-left: 100px;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 550px;
  padding: 5px;
  position: absolute;
}
@media (max-width: 777px) {
  #knowUsSection .thirdText {
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    margin-top: 580px;
    margin-left: 0;
  }
}
#knowUsSection .btn-warning {
  position: absolute;
  margin-left: 100px;
  margin-top: 630px;
  background-color: white;
  border-radius: 0;
  border-style: hidden;
}
#knowUsSection .btn-warning:hover {
  background-color: rgb(223, 205, 86);
}
#knowUsSection .btn-warning:hover a {
  color: rgb(0, 0, 0);
}
#knowUsSection .btn-warning a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 23px;
}
@media (max-width: 777px) {
  #knowUsSection .btn-warning {
    position: absolute;
    margin-top: 660px;
    margin-left: 0;
  }
  #knowUsSection .btn-warning a {
    font-weight: 400;
    font-size: 16px;
  }
}

#irrigationSystemsinfo .row {
  display: flex;
  align-items: center;
  margin-top: -70px;
}
#irrigationSystemsinfo p {
  align-content: center;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
#irrigationSystemsinfo .box {
  width: 500px;
  display: flex;
  margin-block: 100px;
}

#irrigationSystemsinfo2 {
  background-color: rgb(35, 35, 35);
  border-radius: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 30px;
}
#irrigationSystemsinfo2 .box {
  width: 400px;
  padding: 20px;
  margin-block-end: 100px;
}
#irrigationSystemsinfo2 .box h2 {
  font-size: 3vh;
}
@media (max-width: 1400px) {
  #irrigationSystemsinfo2 .box {
    width: 300px;
  }
}
#irrigationSystemsinfo2 .box .img-fluid {
  border-radius: 4px;
  transition: 0.5s;
}
#irrigationSystemsinfo2 .box .img-fluid:hover {
  transform: scale(1.1);
}
#irrigationSystemsinfo2 .box .moreInfoButton {
  padding: 20px;
}
#irrigationSystemsinfo2 .box .moreInfoButton .btn-warning {
  background-color: white;
  border-radius: 0;
  border-style: hidden;
}
#irrigationSystemsinfo2 .box .moreInfoButton .btn-warning:hover {
  background-color: rgb(223, 205, 86);
}
#irrigationSystemsinfo2 .box .moreInfoButton .btn-warning:hover a {
  color: rgb(0, 0, 0);
}
#irrigationSystemsinfo2 .box .moreInfoButton .btn-warning a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 23px;
}
#irrigationSystemsinfo2 .box .moreInfoButton1 {
  padding: 25px;
}
#irrigationSystemsinfo2 .box .moreInfoButton1 .btn-warning {
  background-color: white;
  border-radius: 0;
  border-style: hidden;
}
#irrigationSystemsinfo2 .box .moreInfoButton1 .btn-warning:hover {
  background-color: rgb(223, 205, 86);
}
#irrigationSystemsinfo2 .box .moreInfoButton1 .btn-warning:hover a {
  color: rgb(0, 0, 0);
}
#irrigationSystemsinfo2 .box .moreInfoButton1 .btn-warning a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 23px;
}

.brands {
  background-color: white;
}
.brands p {
  background-color: rgba(210, 210, 33, 0.724);
  font-weight: 400;
  padding: 50px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-size: 19px;
}

.slider {
  width: 80vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  padding: 50px;
  display: flex;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: 2800px;
}

.slider .slide {
  width: 300px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
}
#knowUsSection-knowUs {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to top, rgba(119, 140, 217, 0.716), rgba(39, 59, 149, 0.641), rgba(16, 57, 92, 0.813));
  height: 755px;
  color: whitesmoke;
  margin-top: 100px;
}
#knowUsSection-knowUs .container-fluid img {
  position: relative;
  max-width: 1250px;
}
@media (max-width: 2000px) {
  #knowUsSection-knowUs .container-fluid img {
    margin-left: 620px;
  }
}
@media (max-width: 1400px) {
  #knowUsSection-knowUs .container-fluid img {
    margin-left: 490px;
  }
}
@media (max-width: 777px) {
  #knowUsSection-knowUs .container-fluid img {
    margin-left: 80px;
    max-width: 725px;
  }
}
#knowUsSection-knowUs .firstText p {
  position: absolute;
  z-index: 1000;
  padding: 30px;
  margin-top: 0;
  font-weight: 500;
  font-size: 6vh;
}
@media (max-width: 777px) {
  #knowUsSection-knowUs .firstText p {
    font-weight: bold;
    font-size: 4vh;
    margin-top: -35px;
    left: 0;
  }
}
#knowUsSection-knowUs .secondText p {
  text-transform: uppercase;
  vertical-align: middle;
  margin-left: 100px;
  font-weight: lighter;
  font-size: 45px;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  margin-top: 310px;
}
@media (max-width: 777px) {
  #knowUsSection-knowUs .secondText p {
    font-weight: 500;
    margin-top: 400px;
    font-size: 25px;
    margin-left: 0px;
  }
  #knowUsSection-knowUs .secondText p br {
    display: none;
  }
}
#knowUsSection-knowUs .thirdText {
  margin-left: 100px;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 550px;
  padding: 5px;
  position: absolute;
}
@media (max-width: 777px) {
  #knowUsSection-knowUs .thirdText {
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    margin-top: 580px;
    margin-left: 0;
  }
}
#knowUsSection-knowUs .btn-warning {
  position: absolute;
  margin-left: 100px;
  margin-top: 630px;
  background-color: white;
  border-radius: 0;
  border-style: hidden;
}
#knowUsSection-knowUs .btn-warning:hover {
  background-color: rgb(223, 205, 86);
}
#knowUsSection-knowUs .btn-warning:hover a {
  color: rgb(0, 0, 0);
}
#knowUsSection-knowUs .btn-warning a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 23px;
}
@media (max-width: 777px) {
  #knowUsSection-knowUs .btn-warning {
    position: absolute;
    margin-top: 660px;
    margin-left: 0;
  }
  #knowUsSection-knowUs .btn-warning a {
    font-weight: 400;
    font-size: 16px;
  }
}

#gotToKnowUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#gotToKnowUs .img-fluid {
  width: 23%;
}
#gotToKnowUs h1 {
  font-size: 50px;
}
@media (width: 1920px) {
  #gotToKnowUs h1 br {
    display: none;
  }
}
#getToKnowUs1 {
  max-width: 1300px;
  margin-left: 0;
  display: flex;
  background-color: rgb(28, 28, 28);
  align-items: center;
  margin-block: 50px;
}
@media (max-width: 777px) {
  #getToKnowUs1 {
    padding: 20px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
}
#getToKnowUs1 .row h2 {
  font-size: 3vh;
  color: rgb(73, 171, 224);
}
#getToKnowUs1 .row p {
  font-size: 18px;
  color: white;
}

#ourProviders1 {
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  margin-block: 150px;
  overflow: hidden;
  max-height: 1000px;
}
@media (max-width: 777px) {
  #ourProviders1 {
    display: flex;
    flex-direction: column;
  }
}
#ourProviders1 .providersText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
#ourProviders1 .providersText h2 {
  font-size: 3vh;
  color: rgb(73, 171, 224);
}
#ourProviders1 .providersText p {
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
}
#ourProviders1 .row .container {
  margin-top: 90px;
  max-width: 1000px;
}
#ourProviders1 .row .container .paisaProviders {
  display: flex;
  align-items: center;
}
#ourProviders1 .row .container .paisaProviders .img-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}
@media (max-width: 777px) {
  #ourProviders1 .row .container .paisaProviders {
    overflow: hidden;
  }
  #ourProviders1 .row .container .paisaProviders .img-fluid .img-wrap {
    position: absolute;
  }
  #ourProviders1 .row .container .paisaProviders .img-fluid .img3 {
    position: relative;
  }
}

#getToKnowUs2 {
  background-color: rgb(28, 28, 28);
  display: flex;
  align-items: center;
}
@media (max-width: 777px) {
  #getToKnowUs2 {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
}
#getToKnowUs2 .row h2 {
  font-size: 3vh;
  color: rgb(224, 224, 73);
}
#getToKnowUs2 .row p {
  font-size: 2vh;
  color: white;
}

.contactForm {
  margin: 150px;
}

iframe {
  height: 300;
  width: 100%;
  border: none;
  border-radius: 15px;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header header header" "main main main main main main" "footer footer footer footer footer footer";
  background-image: linear-gradient(to top, rgb(78, 77, 77), rgb(51, 51, 51), rgb(30, 30, 30));
}

.container-fluid {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  margin-block: 200px;
}

#carouselExampleCaptions {
  margin-top: -99px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 4vh;
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

h2 {
  color: white;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  color: white;
  font-size: 25px;
}

h4 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: black;
}

h5 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

h6 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  right: 40px;
  cursor: pointer;
  border-radius: 100px !important;
}
img.btn-whatsapp:hover {
  border-radius: 100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgb(183, 98, 0);
  -moz-box-shadow: 0px 0px 15px 0px rgb(156, 84, 1);
  box-shadow: 0px 0px 15px 0px rgb(137, 74, 1);
  transition-duration: 1s;
}

.irrigationText {
  font-size: 30px;
}

.typesOfIrrigation {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  color: white;
  font-size: 35px;
}

.maintenanceImage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

/*# sourceMappingURL=app.css.map */
