// Basics
@import './basics/colors' ;
@import './basics/typography' ;

// Layout
@import './layout/footer.scss' ;
@import './layout/header.scss' ;
@import './layout/main.scss' ;

// Pages
@import './pages/about-us.scss' ;
@import './pages/contact-us.scss' ;
@import './pages/index.scss' ;
@import './pages/irrigation-systems.scss' ;
@import './pages/maintenance.scss' ;