#knowUsSection-knowUs{
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(to top, rgba(119, 140, 217, 0.716), rgba(39, 59, 149, 0.641), rgba(16, 57, 92, 0.813));
	height: 755px;
	color: whitesmoke;
	margin-top: 100px;
	.container-fluid{
		img{
			position: relative;
			max-width: 1250px;
			@media (max-width: 2000px){
				margin-left: 620px;
			}
			@media (max-width: 1400px){
				margin-left: 490px;
			}
			@media (max-width: 777px){
				margin-left: 80px;
				max-width: 725px;
			}
		}
	}
	.firstText{
		p{
			position: absolute;
			z-index: 1000;
			padding: 30px;
			margin-top: 0;
			font-weight: 500;
			font-size: 6vh;
			@media (max-width: 777px){
				font-weight: bold;
				font-size: 4vh;
				margin-top: -35px;
				left: 0;
			}
		}
	}
	.secondText{
		p{
			text-transform: uppercase;
			vertical-align: middle;
			margin-left: 100px;
			font-weight: lighter;
			font-size: 45px;
			padding: 5px;
			position: absolute;
			z-index: 1000;
			margin-top: 310px;
			@media (max-width: 777px){
				font-weight: 500;
				margin-top: 400px;
				font-size: 25px;
				margin-left: 0px;
				br{
					display: none;
				}
			}
		}
	}
	.thirdText{
		margin-left: 100px;
		font-weight: lighter;
		font-size: 20px;
		margin-top: 550px;
		padding: 5px;
		position: absolute;
		@media (max-width: 777px){
			font-weight: 400;
			font-size: 17px;
			position: absolute;
			margin-top: 580px;
			margin-left: 0;
		}
	}
	.btn-warning{
		position: absolute;
		margin-left: 100px;
		margin-top: 630px;
		background-color: white;
		border-radius: 0;
		border-style: hidden;
		&:hover{
			background-color: rgb(223, 205, 86);
			a{
				color: rgb(0, 0, 0);
			}
		}
		a{
			color: black;
			text-decoration: none;
			font-weight: lighter;
			font-size: 23px;
		}
		@media (max-width: 777px){
			position: absolute;
			margin-top: 660px;
			margin-left: 0;
			a{
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
}
#getToKnowUs1{
	margin-top: 50px;
	margin-left: 0;
	display: flex;
	background-color: rgb(28, 28, 28);
	align-items: center;
	@media (max-width: 777px){
		padding: 20px;
		margin-left: 0;
		display: flex;
		flex-direction: column;
	}
	.row{
		p{
			font-size: 2vh;
			color: white;
		}
	}
	.img-fluid{
		max-width: 30%;
		margin-left: 150px;
		@media (max-width: 777px){
			max-width: 70%;
		}
	}
}
#getToKnowUs2{
	margin-top: -120px;
	background-color: rgb(28, 28, 28);
	margin-right: 0;
	padding: 20px;
	display: flex;
	align-items: center;
	@media (max-width: 777px){
		display: flex;
		flex-direction: column;
	}
	.getToKnowUs2Img{
		display: flex;
		justify-content: space-around;
		.img-fluid{
			width: 65%;
			@media (max-width: 777px){
				width: 100%;
				padding: 5px;
			}
		}
		@media (max-width: 777px){
			width: 100%;
			display: flex;
			flex-direction: column;
		}
	}
	.row{
		display: flex;
		align-items: center;
		h2{
			margin-left: 50px;
			display: flex;
			justify-content: space-evenly;
			font-size: 3vh;
			color: rgb(73, 171, 224);
			@media (max-width: 777px){
				margin-left: 0;
			}
		}
		p{
			margin-left: 50px;
			display: flex;
			justify-content: space-evenly;
			text-align: center;
			font-size: 2vh;
			color: white;
			@media (max-width: 777px){
				margin-left: 0;
			}
		}
	}
}
#getToKnowUs1{
	margin-top: 50px;
	margin-left: 0;
	display: flex;
	background-color: rgb(28, 28, 28);
	align-items: center;
	@media (max-width: 777px){
		padding: 20px;
		margin-left: 0;
		display: flex;
		flex-direction: column;
	}
	.row{
		h2{
			font-size: 3vh;
			color: rgb(73, 171, 224);
		}
		p{
			font-size: 18px;
			color: white;
		}
	}
	.img-fluid{
		max-width: 30%;
		margin-left: 150px;
		@media (max-width: 777px){
			max-width: 70%;
		}
	}
}
#getToKnowUs3{
	margin-top: -120px;
	background-color: rgb(28, 28, 28);
	margin-left: 0;
	padding: 20px;
	display: flex;
	align-items: center;
	@media (max-width: 777px){
		display: flex;
		flex-direction: column;
	}
	.getToKnowUs2Img{
		display: flex;
		justify-content: space-around;
		.img-fluid{
			width: 65%;
			@media (max-width: 777px){
				width: 100%;
				padding: 5px;
			}
		}
		@media (max-width: 777px){
			width: 100%;
			display: flex;
			flex-direction: column;
		}
	}
	.row{
		display: flex;
		align-items: center;
		h2{
			margin-left: 50px;
			display: flex;
			justify-content: space-evenly;
			font-size: 3vh;
			color: rgb(73, 171, 224);
			@media (max-width: 777px){
				margin-left: 0;
			}
		}
		p{
			margin-left: 50px;
			display: flex;
			justify-content: space-evenly;
			text-align: center;
			font-size: 2vh;
			color: white;
			@media (max-width: 777px){
				margin-left: 0;
			}
		}
	}
}
#trenchersSection{
	background-color: rgb(28, 28, 28);
	height: 700px;
	@media (max-width: 777px){
		overflow: visible;
	}
	.row{
		align-items: center;
	}
	h2{
		color: rgb(73, 171, 224);
	}
	p{
		align-content: center;
		color: white;
		font-size: 2vh;
		font-weight: 400;
	}
}
#ourProviders1{
	background-color: rgb(28, 28, 28);
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	margin-block: 150px;
	overflow: hidden;
	max-height: 1000px;
	@media (max-width: 777px){
		display: flex;
		flex-direction: column;
	}
	.providersText{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 30px;
		h2{
			font-size: 3vh;
			color: rgb(73, 171, 224);
		}
		p{
			justify-content: center;
			align-items: center;
			font-size: 18px;
			color: white;
			@media (max-width: 777px){
				br{
					display: none;
				}
			}
		}
	}
	.row{
		.container{
			margin-top: 90px;
			max-width: 1000px;
			.paisaProviders{
				display: flex;
				align-items: center;
				.img-wrap{
					display: flex;
					flex-direction: column;
					max-width: 1500px;
				}
				@media (max-width: 777px){
					overflow: hidden;
					.img-fluid{
						.img-wrap{
							position: absolute;
						}
						.img3{
							position: relative;
						}
					}
				}
			}
		}
	}
}