#firstAutomationSection{
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block: 150px;
	padding: 0;
	width: 100%;
	height: 500px;
	overflow: visible;
	.automationText{
		position: absolute;
		h1{
			font-weight: lighter;
			margin-left: 100px;
			margin-bottom: 0;
			font-size: 4vh;
			@media (max-width: 777px){
				margin-left: 0;
				font-size: 3vh;
			}
		}
		h2{
			font-weight: lighter;
			margin-left: 100px;
			padding: 10px;
			font-size: 2vh;
			@media (max-width: 777px){
				margin-left: 0;
			}
		}
		ul{
			li{
				font-size: 2vh;
				margin-left: 100px;
				font-weight: lighter;
				padding: 10px;
				color: white;
				@media (max-width: 777px){
					margin-left: 0;
				}
			}
		}
	}
	.btn-warning{
		margin-top: 600px;
		margin-left: 6%;
		background-color: white;
		border-radius: 0;
		border-style: hidden;
		&:hover{
			background-color: rgb(223, 205, 86);
			a{
				color: rgb(0, 0, 0);
			}
		}
		a{
			color: black;
			text-decoration: none;
			font-weight: lighter;
			font-size: 23px;
		}
		@media (max-width: 777px){
			a{
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
}
#automationLogo{
	display: flex;
	align-items: center;
	background-image: linear-gradient(to right, rgba(47, 69, 146, 0.827), rgba(48, 34, 127, 0.827), rgb(12, 35, 73));
	margin-right: 0;
	margin-top: 99px;
	max-width: 60%;
	height: 800px;
	@media (max-width: 777px){
		display: flex;
		align-items: flex-end;
		margin-bottom: 20px;
	}
	.img-fluid{
		max-width: 80%;
	}
}
#whiteContainer{
	width: 100%;
	height: 200px;
	background-color: white;
	@media (max-width: 777px){
		height: 100px;
	}
}