#contactSection1{
	background-image: linear-gradient(to top, rgb(235, 234, 234), rgb(178, 175, 175), rgb(134, 133, 133));
	width: 100%;
	iframe{
		margin-top: 10px;
		margin-bottom: -10px;
		height: 800px;
		width: 1000px;
		@media (max-width: 777px){
			margin-top: 40px;
		}
	}
}