* {
	box-sizing: border-box;
}
a {
	color: $color_primary;
}
body {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"header header header header header header"
	"main main main main main main"
	"footer footer footer footer footer footer";
	background-image: linear-gradient(to top, rgb(78, 77, 77), rgb(51, 51, 51), rgb(30, 30, 30));
}
.container-fluid {
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.container {
	display: flex;
	margin-block: 200px;
}
#carouselExampleCaptions{
	margin-top: -99px;
}
h1 {
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 4vh;
	font-weight: 700;
	display: flex;
	justify-content: center;
	color:rgb(255, 255, 255);
}
h2 {
	color: $color_primary;
	font-size: 4vh;
	font-weight: 700;
	margin-bottom: 20px;
}
h3 {
	color: $color_primary;
	font-size: 25px;
}
h4 {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: black;
}
h5 {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: $color_primary;
	background-color: $background-color_1;
}
h6 {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: $color_primary;
	background-color: $background-color_1;
}

img.btn-whatsapp {
	display: block !important;
	position: fixed;
	z-index: 1000;
	bottom: 50px;
	right: 40px;
	cursor: pointer;
	border-radius: 100px !important;
	&:hover {
		border-radius: 100px !important;
		-webkit-box-shadow: 0px 0px 15px 0px rgb(183, 98, 0);
		-moz-box-shadow: 0px 0px 15px 0px rgb(156, 84, 1);
		box-shadow: 0px 0px 15px 0px rgb(137, 74, 1);
		transition-duration: 1s;
	}
}