* {
	box-sizing: border-box;
}
a {
	color: $color_primary;
}
body {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"header header header header header header"
	"main main main main main main"
	"footer footer footer footer footer footer";
	background-image: linear-gradient(to top, rgb(84, 83, 83), rgb(59, 59, 59), rgb(39, 39, 39));
}
.container-fluid {
	display: flex;
	justify-content: center;
}
.container {
	display: flex;
	margin-block: 200px;
}
#carouselExampleCaptions{
	margin-top: -99px;
	a{
		font-weight: 600;
		background-color: rgba(255, 255, 255, 0.865);
		position: absolute;
		display: flex;
		top: 35%;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		width: 150px;
		height: 50px;
		border-radius: 12px;
		font-size: 25px;
		color: black;
		&:hover{
			transition: 1s;
			background-color: rgb(225, 153, 7);
		}
	}
}
.mainText{
	margin-top: -130px;
	position: relative;
	p{
		margin-top: -60px;
		font-weight: 400;
		color: rgb(255, 255, 255);
		font-size: 3vh;
	}
}
h1 {
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 4vh;
	font-weight: 700;
	display: flex;
	justify-content: center;
	color:rgb(255, 255, 255);
}
h2 {
	color: $color_primary;
	font-size: 4vh;
	font-weight: 700;
	margin-bottom: 20px;
}
h3 {
	color: $color_primary;
	font-size: 25px;
}
h4 {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: $color_primary;
	background-color: $background-color_1;
}
h5 {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: $color_primary;
	background-color: $background-color_1;
}
h6 {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: $color_primary;
	background-color: $background-color_1;
}

img.btn-whatsapp {
	display: block !important;
	position: fixed;
	z-index: 1000;
	top: 140px;
	right: 20px;
	cursor: pointer;
	border-radius: 100px !important;
	&:hover {
		border-radius: 100px !important;
		-webkit-box-shadow: 0px 0px 15px 0px rgb(183, 98, 0);
		-moz-box-shadow: 0px 0px 15px 0px rgb(156, 84, 1);
		box-shadow: 0px 0px 15px 0px rgb(137, 74, 1);
		transition-duration: 1s;
	}
}