/*:::::Pie de Pagina*/
.pie-pagina {
	grid-area: footer;
	width: 100%;
	background-color: $background-color_1;
	.group-1 {
		width: 100%;
		max-width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		padding: 45px 0px;
		.box {
			figure {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 250px;
				}
			}
			p {
				color: $color_2;
				margin-bottom: 10px;
			}
		}
		.social-media {
			a {
				display: inline-block;
				text-decoration: none;
				width: 45px;
				height: 45px;
				line-height: 45px;
				color: $color_primary;
				margin-right: 10px;
				background-color: $background-color_2;
				text-align: center;
				transition: all 300ms ease;
				&:hover {
					color: $color_3;
				}
			}
		}
	}
	.group-2 {
		background-color: $background-color_1;
		padding: 15px 10px;
		text-align: center;
		color: $color_primary;
		small {
			font-size: 15px;
		}
	}
}
@media screen and (max-width:800px) {
	.pie-pagina {
		.group-1 {
			width: 90%;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 30px;
			padding: 35px 0px;
		}
	}
}
