header {
    position: fixed;
    z-index: 1000000000;
    width: 100%;
	grid-area: header;
	.navbar{
		.nav-link.active{
			color: rgb(94, 151, 194);
		}
		img{
			width: 300px;
		}
		.dropdown-menu{
			a{
				color: black;
			}
		}
		a{
			color: white;
		}
		background-color: rgb(22, 22, 22);
		.collapse{
			flex-grow: 0;
			.btn-outline-success{
				a{
					color: white;
					font-size: 24px;
					font-family: $font-family_1;
					text-decoration: none;
				}
			}
		}
	}	
	ul {
		li {
			padding: 20px;
			font-size: 17px;
			font-weight: 400;
			font-family: $font-family_1;
			.nav-link{
				&:hover{
					transition: 0.5s;
					color: rgb(94, 151, 194);
				}
			}
		}
	}
}