header {
    position: fixed;
    z-index: 1000;
    width: 100%;
	grid-area: header;
	background-color: rgb(22, 22, 22);
	.navbar{
		.nav-link.active{
			color: rgb(94, 151, 194);
		}
		img{
			width: 300px;
			@media (max-width: 777px){
				width: 250px;
			}
		}
		a{
			color: white;
			font-weight: lighter;
			font-size: 2vh;
			@media (max-width: 777px){
				font-size: 15px;
				padding: 0;
			}
		}
		.collapse{
			flex-grow: 0;
			.btn-outline-success{
				@media (max-width: 777px){
					margin-left: 15px;
					margin-top: 20px;
				}
				a{
					color: white;
					font-size: 24px;
					text-decoration: none;
					@media (max-width: 777px){
						font-size: 20px;
					}
				}
			}
		}
	}	
	ul {
		li {
			padding: 20px;
			font-size: 17px;
			font-weight: 400;
			.nav-link{
				&:hover{
					transition: 0.5s;
					color: rgb(94, 151, 194);
				}
			}
		}
	}
}