header {
    position: fixed;
    z-index: 1000000000;
    width: 100%;
	grid-area: header;
	.navbar{
		img{
			width: 300px;
		}
		.dropdown-menu{
			a{
				color: black;
			}
		}
		a{
			color: white;
		}
		background-color: rgb(22, 22, 22);
		.collapse{
			flex-grow: 0;
			.btn-outline-success{
				a{
					color: white;
					font-size: 25px;
					font-family: $font-family_1;
					text-decoration: none;
				}
			}
		}
	}	
	img {
		width: 100px;
	}
	ul {
		li {
			padding: 20px;
			font-size: 18px;
		}
	}
}