main {
	grid-area: main;
	width: 100%;
}
#knowUsSection{
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(to top, rgb(187, 157, 135), rgb(125, 95, 73), rgb(91, 57, 33));
	height: 755px;
	.container-fluid{
		img{
			position: relative;
			max-width: 1250px;
			@media (max-width: 2000px){
				margin-left: 620px;
			}
			@media (max-width: 777px){
				margin-left: 80px;
				max-width: 725px;
			}
		}
	}
	color: whitesmoke;
	.firstText{
		p{
			position: absolute;
			z-index: 1000;
			padding: 30px;
			margin-top: 0;
			font-weight: 500;
			font-size: 6vh;
			@media (max-width: 777px){
				font-weight: bold;
				font-size: 4vh;
				margin-top: -35px;
				left: 0;
			}
		}
	}
	.secondText{
		p{
			text-transform: uppercase;
			vertical-align: middle;
			margin-left: 100px;
			font-weight: lighter;
			font-size: 45px;
			padding: 5px;
			position: absolute;
			z-index: 1000;
			margin-top: 310px;
			@media (max-width: 777px){
				font-weight: 500;
				margin-top: 400px;
				font-size: 25px;
				margin-left: 0px;
				br{
					display: none;
				}
			}
		}
	}
	.thirdText{
		margin-left: 100px;
		font-weight: lighter;
		font-size: 20px;
		margin-top: 550px;
		padding: 5px;
		position: absolute;
		@media (max-width: 777px){
			font-weight: 400;
			font-size: 17px;
			position: absolute;
			margin-top: 580px;
			margin-left: 0;
		}
	}
	.moreInfoButtonInfo{
		position: absolute;
		margin-left: 100px;
		margin-top: 630px;
		background-color: white;
		border-radius: 7px;
		.btn-outline-secondary{
			&:hover{
				background-color: rgb(96, 96, 96);
				a{
					color: white;
				}
			}
			a{
				color: black;
				text-decoration: none;
				font-weight: lighter;
				font-size: 23px;
			}
		}
		@media (max-width: 777px){
			position: absolute;
			margin-top: 660px;
			margin-left: 0;
			a{
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
}
#irrigationSystemsinfo{
	.row{
		display: flex;
		align-items: center;
	}
	p{
		align-content: center;
		color: white;
		font-size: 2vh;
		font-weight: 400;
	}
	.box{
		width: 500px;
		display: flex;
		margin-block: 100px;
	}
}
#irrigationSystemsinfo2{
	background-color: rgb(35, 35, 35);
	border-radius: 4px;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	margin-top: -100px;
	p{
		align-content: center;
		color: white;
		font-size: 2vh;
		font-weight: 400;
	}
	.box{
		width: 400px;
		padding: 20px;
		margin-block-end: 100px;
		.img-fluid{
			border-radius: 4px;
			transition: 0.5s;
			&:hover{
				transform: scale(1.1);
			}
		}
		.moreInfoButton{
			padding: 20px;
			a{
				color: white;
				font-size: 20px;
				font-family: $font-family_1;
				text-decoration: none;
			}
		}
		.moreInfoButton1{
			padding: 25px;
			a{
				color: white;
				font-size: 20px;
				font-family: $font-family_1;
				text-decoration: none;
			}
		}
	}
}
.brands{
	height: 500px;
	p {
		margin: 50px;
		margin-top: 120px;
		display: flex;
		justify-content: center;
		color: $color_primary;
		font-size: 24px;
		color: $color_primary;
	}
}

// Carrusel de marcas

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 22s;

// Animación
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

// Estilo
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}
//Fin del carrusel de marcas